body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App{
  font-family: 'Yeon Sung', cursive;
  font-size: 20px;
}
.task-completed{
  color: lightseagreen;
}
ul li{
  font-size: 27px;
  list-style: none;
  display: block;
}
li{
  margin: 10px;
}
button{
  margin: 0 10px 0 10px;
}
.freespace{
  width: 24px;
  height: 10px;
}
a{
  font-size: 20px;
  margin: 20px;
}
.shapka{
  margin: 20px;
}
input{
  font-size: 24px;
}
button{
  border: 2px solid black;
  background: none;
  font-size: 24px;
}
.redBtn{
  padding: 0 15px 0 15px;
  border: 2px solid red;
  border-radius: 20px;

}
.greenBtn{
  padding: 0 15px 0 15px;
  border-radius: 20px;
  border: 2px solid lightgreen;

}